# =========================
# PostgreSQL
# =========================

POSTGRES_DB=kenfit
POSTGRES_USER=kenfit
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


# =========================
# Backend
# =========================

DATABASE_URL=postgresql+psycopg://kenfit:change_me@localhost:5432/kenfit

JWT_SECRET=change_this_secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30


# =========================
# Environment
# =========================

ENVIRONMENT=development